<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="PathToArtistsData" value="Data\\Artists.json"/>
		<add key="PathToCollectorsData" value="Data\\Collectors.json"/>
		<add key="PathToMuseumsData" value="Data\\Museums.json"/>
		<add key="PathToOrganisationsData" value="Data\\Organisations.json"/>
		<add key="PathToPaintingsData" value="Data\\Paintings.json"/>
		<add key="PathToAuctionsData" value="Data\\Auctions.json"/>
		<add key="ImageNotFound" value="Images\\image-not-found.png"></add>
	</appSettings>
</configuration>